@use "./../../theme.scss" as *;

.timeline {
  position: relative;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;

  .lines {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: inherit;
    z-index: 0;
  }

  &__margin_left {
    margin-left: 160px;
    position: relative;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 170px 80px 104px 80px;
  }

  &__header {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    position: relative;
    color: $black-blue;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      align-self: anchor-center;
      left: -80.5px;
      width: 5px;
      height: 120px;
      background: linear-gradient(180deg, #3877ee 0%, #ef5da8 100%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    z-index: 1;
  }

  &__years {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 973px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
  }

  &__year {
    font-size: 200px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -2%;
    text-align: center;

    &--start {
      color: #5d5fef;
    }

    &--end {
      color: #ef5da8;
    }
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 530px;
    height: 530px;
    transform: translate(-50%, -50%);

    svg {
      position: absolute;
      inset: 0;
      z-index: 0;
    }
  }

  &__point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid $black-blue-50;
    cursor: pointer;
    transform: translate(-50%, -50%);
    will-change: transform;

    background-color: $black-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    transition:
      width 0.3s ease,
      height 0.3s ease,
      background-color 0.3s ease,
      opacity 0.3s ease;

    &::before {
      position: absolute;
      content: attr(data-number);
      font-size: 20px;
      font-weight: 400;
      color: $black-blue;
      opacity: 0;
    }

    &:hover {
      width: 56px;
      height: 56px;
      background-color: $kinda-white;

      &::before {
        opacity: 1;
      }
    }

    &::after {
      content: attr(data-title);
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 20px;
      font-size: 20px;
      font-weight: 700;
      color: $black-blue;
      white-space: nowrap;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &--active {
      position: absolute;
      width: 56px;
      height: 56px;
      background-color: $kinda-white;
      border: 1px solid $black-blue-50;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        opacity: 1;
      }
    }
    &--label {
      &::after {
        opacity: 1;
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 20px;
    margin-bottom: 56px;
    width: 100%;
    flex-direction: column;

    &--buttons {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  &__counter {
    font-size: 14px;
    color: #42567a;
  }

  &__nav-button {
    width: 50px;
    height: 50px;
    border: 1px solid $black-blue-50;
    border-radius: 50%;
    background: $kinda-white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;

    &:hover:not(&--disabled) {
      background: $white;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__events {
    width: 100%;
  }

  // @media (max-width: 1024px) {
  //   padding: 60px 40px;

  //   &__title {
  //     font-size: 40px;
  //     line-height: 48px;
  //     padding-left: 60px;

  //     &::before {
  //       height: 80px;
  //     }
  //   }

  //   &__year {
  //     font-size: 120px;
  //     line-height: 100px;
  //   }

  //   &__circle-container {
  //     width: 400px;
  //     height: 400px;
  //   }
  // }

  // @media (max-width: 768px) {
  //   padding: 40px 20px;

  //   &__title {
  //     font-size: 28px;
  //     line-height: 36px;
  //     padding-left: 40px;

  //     &::before {
  //       width: 3px;
  //       height: 60px;
  //     }
  //   }

  //   &__year {
  //     font-size: 80px;
  //     line-height: 80px;
  //   }

  //   &__circle-container {
  //     width: 300px;
  //     height: 300px;
  //   }

  //   &__point {
  //     &--active {
  //       width: 40px;
  //       height: 40px;

  //       &::before {
  //         font-size: 16px;
  //       }

  //       &::after {
  //         font-size: 16px;
  //         margin-left: 15px;
  //       }
  //     }
  //   }
  // }
}
