@use "./../../theme.scss" as *;

.row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.events-slider {
  height: 135px;
  &__event {
    &__year {
      color: var(--синий, rgba(56, 119, 238, 1));
      font-family: "Bebas Neue";
      font-size: 25px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
    }

    &__title {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #42567a;
      margin: 0;
    }
  }

  .swiper {
    height: 135px;
    overflow: visible;
  }

  .swiper-slide {
    max-width: 320px;
  }

  // @media (max-width: 1024px) {
  //   .swiper-button-next {
  //     right: -50px;
  //   }

  //   .swiper-button-prev {
  //     left: -50px;
  //   }
  // }

  // @media (max-width: 768px) {
  //   &__slide {
  //     padding: 0 20px 0 0;
  //   }

  //   &__event {
  //     &__year {
  //       font-size: 20px;
  //       line-height: 24px;
  //     }

  //     &__title {
  //       font-size: 16px;
  //       line-height: 24px;
  //     }

  //     &__description {
  //       font-size: 16px;
  //       line-height: 24px;
  //     }
  //   }

  //   .swiper-button-next,
  //   .swiper-button-prev {
  //     width: 30px;
  //     height: 30px;
  //     margin-top: -15px;

  //     &::after {
  //       font-size: 10px;
  //     }
  //   }

  //   .swiper-button-next {
  //     right: -40px;
  //   }

  //   .swiper-button-prev {
  //     left: -40px;
  //   }
  // }
}

  #swiper-button-next,
  #swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 41px;
    margin-top: 0;
    background: $white;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
    outline: none;
    cursor: pointer;

    &::after {
      font-size: 12px;
      font-weight: 700;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }

    .swiper-navigation-icon {
      display: none;
    }

    svg {
      width: 8px;
      fill: none;
    }
  }

  #swiper-button-next {
    right: -60px;
  }

  #swiper-button-prev {
    rotate: 180deg;
    left: -60px;
  }