@use "./../../theme.scss" as *;

.outer-container {
  display: flex;
  flex-direction: row;
  position: relative;

  @media (max-width: 1024px) {
    position: static;
  }
}

.swiper {
  height: 150px;

  @media (max-width: 1024px) {
    height: 160px;

    &-slide-next {
      opacity: 0.5;
    }
  }
}

.events-slider {
  &__event {
    &__year {
      color: var(--синий, rgba(56, 119, 238, 1));
      font-family: "Bebas Neue";
      font-size: 25px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
    }

    &__title {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: $black-blue;
      margin: 0;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }

  &__pagination {
    display: none;
  }

  @media (max-width: 1024px) {
    &__event {
      margin-top: 20px;
      filter: drop-shadow(2px 3px 2px rgb(0, 0, 0, 0.3));

      &__year {
        font-size: 16px;
      }

      &__title {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
        color: #42567a;
        -webkit-line-clamp: 5;
      }
    }

    &__pagination {
      position: absolute;
      bottom: 32px !important;
      display: flex;
      justify-content: center;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 5px;
      }

      .swiper-pagination-bullet-active {
        background: $black-blue;
      }
    }
  }
}

#swiper-button-next,
#swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 41px;
  margin-top: 0;
  background: $white;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
  outline: none;
  cursor: pointer;

  &::after {
    font-size: 12px;
    font-weight: 700;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }

  .swiper-navigation-icon {
    display: none;
  }

  svg {
    width: 8px;
    fill: none;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

#swiper-button-next {
  right: -60px;
}

#swiper-button-prev {
  rotate: 180deg;
  left: -60px;
}
