$blue: #3877EE;
$white: #FFFFFF;
$kinda-white: #f4f5f9;
$fuschia: #EF5DA8;
$iris: #5D5FEF;
$light-blue: #9DBEFD;
$black-blue: #42567A;
$black-blue-10: rgba(66, 86, 122, 0.1);
$black-blue-50: rgba(48, 62, 88, 0.5);
